<nav class="navbar navbar-default navbar-static-top">
    <h3>Catalog</h3>
    <div class="Check_Icon"><a href="#/catalog/addItem"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>

</nav>

<div class="container">
    <table class="table table-striped">
        <fieldset class="form-group">
            <div class="form-group">
                <input ng-model="model.searchQuery" type="text" class="form-control" id="name"
                       placeholder="Search Query">
                <a ng-click="model.search(model.searchQuery)" class="btn btn-block btn-primary"
                   role="button">Search!</a>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">
                <input ng-model="model.barcode" type="text" class="form-control" id="name" placeholder="Barcode">
                <a ng-click="model.AddPartWithBarcode(model.barcode)" class="btn btn-block btn-primary" role="button">Add
                    Item</a>
            </div>
        </fieldset>


        <tbody ng-repeat="post in model.posts">
        <tr>
            <td style="padding-bottom: 20px;padding-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    background-color: darkgrey;">
    <table style="width:100%;">
        <tbody>
        <tr>
            <td colspan="2">
                <a target="_blank" href="http://www.digikey.com/product-search/en?keywords={{post.PN}}"
                   class="btn btn-block btn-success" role="button">Link to DigiKey</a>
            </td>
        </tr>
        <tr>
            <th class="innerTable"
                style="border-right-style: solid;border-right-width: 2px;border-right-color: black;">
                <h3>Digi-Key Part Number</h3>
            </th>
            <td class="innerTable">
                <h3>{{post.PN}}</h3>
            </td>
        </tr>
        <tr>
            <th class="innerTable"
                style="border-right-style: solid;border-right-width: 2px;border-right-color: black;">
                <h3>Manufacturer Part Number</h3>
            </th>
            <td class="innerTable">
                <h3>{{post.MPN}}</h3>
            </td>
        </tr>
        <tr>
            <th
                    style="border-right-style: solid;border-right-width: 2px;border-right-color: black;width:50%;">
                <h3>Description</h3>
            </th>
            <td>
                <h4>{{post.Description}}</h4>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a ng-click="model.deletePart(post._id)" class="btn btn-block btn-danger" role="button">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p></p>
<footer class="footer">
    <div class="pull-left">
        <!--
        <i class="fa fa-area-chart fa-2x"></i>
        <a href="#/weather"><i class="fa fa-sun-o fa-2x"></i></a>
        <i ng-click="model.filtersDrivers()" class="fa fa-car fa-2x"></i>
        <i ng-click="model.filtersHiker()" class="fa fa-male fa-2x"></i>
        <i ng-click="model.filtersRest()" class="fa fa-recycle fa-2x"></i>
        -->
    </div>
    <a href="#/user/{{model.uid}}"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
</footer>
